adal==1.2.7
aioboto3==11.2.0
aiobotocore==2.5.2
aiocontextvars==0.2.2
aiodns==3.0.0
aiofile==3.8.7
aiogmaps==0.0.2
aiohttp==3.8.5
aiohttp-autoreload==0.0.1
aiohttp-cors==0.7.0
aiohttp-debugtoolbar==0.6.0
aiohttp-jinja2==1.5.1
aiohttp-jrpc==0.1.0
aiohttp-jwt==0.6.1
aiohttp-session==2.12.0
aiohttp-swagger==1.0.16
aiohttp-utils==3.2.1
aioimaplib==1.0.1
aioitertools==0.11.0
aiojobs==1.1.0
aiomcache==0.8.1
aiopg==1.4.0
aioredis==2.0.1
aiosocks==0.2.6
amqp==5.1.1
apispec==6.3.0
APScheduler==3.10.1
asgiref==3.7.2
asn1crypto==1.5.1
async-timeout==4.0.2
navconfig==1.3.6
asyncdb==2.4.1
navigator-api==2.6.26
asyncio==3.4.3
asyncio-redis==0.16.0
asyncpg==0.28.0
asyncssh==2.13.2
attrs==23.1.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bokeh==3.2.1
boto3==1.28.8
botocore==1.31.8
brotlipy==0.7.0
caio==0.9.12
cairocffi==1.6.0
CairoSVG==2.7.0
cchardet==2.1.7
Cerberus==1.3.4
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
click==8.1.6
cloudpickle==2.2.1
configparser==6.0.0
cryptography==41.0.2
cssselect2==0.7.0
dask==2023.7.1
dateparser==1.1.8
decorator==5.1.1
defusedxml==0.7.1
devtools==0.11.0
distributed==2023.7.1
Django==4.2.3
django-enumfields==2.1.1
dnspython==2.4.0
docutils==0.20.1
EasyProcess==1.1
email-validator==2.0.0.post2
entrypoint2==1.1
et-xmlfile==1.1.0
fsspec==2023.6.0
future==0.18.3
geographiclib==2.0
geopy==2.3.0
googlemaps==4.10.0
gunicorn==21.2.0
h11==0.14.0
HeapDict==1.0.1
hiredis==2.2.3
html5lib==1.1
httptools==0.6.0
idna==3.4
iso8601==2.0.0
jdcal==1.4.1
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonfield==3.1.0
jsonpath==0.82
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.0
jsonschema==4.18.4
LivePopularTimes==1.3
locket==1.0.0
lxml==4.9.3
MarkupSafe==2.1.3
marshmallow==3.20.1
msal==1.22.0
msgpack==1.0.5
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
networkx==3.1
numpy==1.25.1
oauthlib==3.2.2
objectpath==0.6.1
Office365-REST-Python-Client==2.4.2
openpyxl==3.1.2
outcome==1.2.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
partd==1.4.0
patool==1.12
pbr==5.11.1
pdfkit==1.0.0
pgmpy==0.1.23
PGPy==0.6.0
Pillow==10.0.0
ply==3.11
psutil==5.9.5
psycopg2-binary==2.9.6
pyasn1==0.5.0
pycares==4.3.0
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.18.0
pydantic==2.0.3
Pygments==2.15.1
PyJWT==2.8.0
pylibmc==1.6.3
pyOpenSSL==23.2.0
pyparsing==3.1.0
Pyphen==0.14.0
pyrsistent==0.19.3
pyshorteners==1.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.25
python-mimeparse==1.6.0
python-telegram-bot==13.11
pytool==3.16.2
pytz==2021.3
pyunpack==0.2.2
PyYAML==6.0
redis==4.1.3
regex==2022.1.18
Represent==1.6.0.post0
requests==2.27.1
requests-oauthlib==1.3.1
rethinkdb==2.4.8
rncryptor==3.3.0
s3transfer==0.5.1
scipy==1.8.0
simplejson==3.17.6
six==1.16.0
sockjs==0.11.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
sqlalchemy-aio==0.16.0
sqlparse==0.4.2
tabulate==0.8.9
tblib==1.7.0
telegram==0.0.1
tinycss2==1.1.1
toolz==0.11.2
tornado==6.3.2
tqdm==4.62.3
twilio==7.6.0
typed-ast==1.5.2
typing-extensions==4.0.1
tzlocal==4.1
ua-parser==0.10.0
ujson==5.1.0
urllib3==1.26.8
user-agents==2.2.0
uvloop==0.16.0
valideer==0.4.2
validictory==1.1.2
vine==5.0.0
warp-proxy==0.1.1
watchgod==0.6
WeasyPrint==54.1
webargs==8.1.0
webencodings==0.5.1
websockets==10.1
wrapt==1.13.3
xlrd==2.0.1
XlsxWriter==3.0.2
xlwt==1.3.0
yarl==1.7.2
zict==2.0.0

