adal==1.2.5
aioboto3==8.0.5
aiobotocore==1.1.2
aiocontextvars==0.2.2
aiodns==2.0.0
aiofile==3.1.1
aiogmaps==0.0.2
aiohttp==3.7.2
aiohttp-autoreload==0.0.1
aiohttp-cors==0.7.0
aiohttp-debugtoolbar==0.6.0
aiohttp-jinja2==1.2.0
aiohttp-jrpc==0.1.0
aiohttp-jwt==0.6.1
aiohttp-session==2.9.0
aiohttp-swagger==1.0.15
aiohttp-utils==3.1.1
aioimaplib==0.7.18
aioitertools==0.7.0
aiojobs==0.2.2
aiomcache==0.6.0
aiopg==1.0.0
aioredis==1.3.1
aiosocks==0.2.6
amqp==5.0.1
apispec==4.0.0
APScheduler==3.6.3
asgiref==3.3.0
asn1crypto==1.4.0
async-timeout==3.0.1
navconfig==0.2.0
asyncdb==1.0.0
navigator-api==1.0.0.dev0
asyncio==3.4.3
asyncio-redis==0.16.0
asyncpg==0.21.0
asyncssh==2.4.2
attrs==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bokeh==2.2.3
boto3==1.16.7
botocore==1.19.7
brotlipy==0.7.0
caio==0.6.3
cairocffi==1.1.0
CairoSVG==2.4.2
cchardet==2.1.7
Cerberus==1.3.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.1
cryptography==3.2.1
cssselect2==0.3.0
dask==2.30.0
dateparser==0.7.6
decorator==4.4.2
defusedxml==0.6.0
devtools==0.6.1
distributed==2.30.0
Django==3.1.2
django-enumfields==2.0.0
dnspython==2.0.0
docutils==0.16
EasyProcess==0.3
email-validator==1.1.1
entrypoint2==0.2.3
et-xmlfile==1.0.1
fsspec==0.8.4
future==0.18.2
geographiclib==1.50
geopy==2.0.0
googlemaps==4.4.2
gunicorn==20.0.4
h11==0.11.0
HeapDict==1.0.1
hiredis==1.1.0
html5lib==1.1
httptools==0.1.1
idna==2.10
iso8601==0.1.13
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonfield==2.0.2
jsonpath==0.82
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.0
jsonschema==3.0.1
LivePopularTimes==1.0
locket==0.2.0
lxml==4.4.1
MarkupSafe==1.1.1
marshmallow==3.7.0
msal==1.4.1
msgpack==1.0.0
multidict==4.5.2
mypy==0.782
mypy-extensions==0.4.3
networkx==1.11
numpy==1.19.2
oauthlib==3.1.0
objectpath==0.6.1
Office365-REST-Python-Client==2.2.0
openpyxl==2.6.2
outcome==1.0.0
packaging==20.4
pandas==1.1.2
parso==0.5.1
partd==1.1.0
patool==1.12
pbr==5.4.2
pdfkit==0.6.1
pgmpy==0.1.7
PGPy==0.5.2
Pillow==6.2.1
ply==3.11
psutil==5.7.2
psycopg2-binary==2.8.4
pyasn1==0.4.8
pycares==3.1.1
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.8
pydantic==1.6.1
Pygments==2.6.1
PyJWT==1.7.1
pylibmc==1.6.1
pyOpenSSL==18.0.0
pyparsing==2.4.7
Pyphen==0.9.5
pyrsistent==0.15.4
pyshorteners==1.0.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-magic==0.4.15
python-mimeparse==1.6.0
python-telegram-bot==12.6.1
pytool==3.15.0
pytz==2019.2
pyunpack==0.1.2
PyYAML==5.1.2
redis==3.2.1
regex==2020.6.8
Represent==1.6.0
requests==2.21.0
requests-oauthlib==1.2.0
rethinkdb==2.4.7
rncryptor==3.2.0
s3transfer==0.2.1
scipy==1.4.1
simplejson==3.17.2
six==1.13.0
sockjs==0.10.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SQLAlchemy==1.3.6
sqlalchemy-aio==0.14.1
sqlparse==0.3.0
tabulate==0.8.5
tblib==1.7.0
telegram==0.0.1
tinycss2==1.0.2
toolz==0.10.0
tornado==6.0.4
tqdm==4.39.0
twilio==6.42.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
tzlocal==2.0.0
ua-parser==0.8.0
ujson==3.0.0
urllib3==1.23
user-agents==1.1.0
uvloop==0.14.0
valideer==0.4.2
validictory==1.1.2
vine==1.3.0
warp-proxy==0.1.1
watchgod==0.6
WeasyPrint==48
webargs==5.5.3
webencodings==0.5.1
websockets==8.1
wrapt==1.11.1
xlrd==1.2.0
XlsxWriter==1.1.6
xlwt==1.3.0
yarl==1.3.0
zict==2.0.0

