adal==1.2.7
aioboto3==9.3.0
aiobotocore==2.1.0
aiocontextvars==0.2.2
aiodns==3.0.0
aiofile==3.7.4
aiogmaps==0.0.2
aiohttp==3.8.1
aiohttp-autoreload==0.0.1
aiohttp-cors==0.7.0
aiohttp-debugtoolbar==0.6.0
aiohttp-jinja2==1.5
aiohttp-jrpc==0.1.0
aiohttp-jwt==0.6.1
aiohttp-session==2.10.0
aiohttp-swagger==1.0.15
aiohttp-utils==3.1.1
aioimaplib==0.9.0
aioitertools==0.8.0
aiojobs==1.0.0
aiomcache==0.6.0
aiopg==1.3.3
aioredis==2.0.1
aiosocks==0.2.6
amqp==5.0.9
apispec==5.1.1
APScheduler==3.8.1
asgiref==3.4.1
asn1crypto==1.4.0
async-timeout==4.0.2
navconfig==0.4.3
asyncdb==1.7.28
navigator-api==1.9.31
asyncio==3.4.3
asyncio-redis==0.16.0
asyncpg==0.25.0
asyncssh==2.8.1
attrs==21.4.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
bokeh==2.4.2
boto3==1.20.31
botocore==1.23.31
brotlipy==0.7.0
caio==0.9.3
cairocffi==1.3.0
CairoSVG==2.5.2
cchardet==2.1.7
Cerberus==1.3.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.3
cloudpickle==2.0.0
configparser==5.2.0
cryptography==36.0.1
cssselect2==0.4.1
dask==2021.12.0
dateparser==1.1.0
decorator==5.1.1
defusedxml==0.7.1
devtools==0.8.0
distributed==2021.12.0
Django==4.0.1
django-enumfields==2.1.1
dnspython==2.1.0
docutils==0.18.1
EasyProcess==0.3
email-validator==1.1.3
entrypoint2==0.2.4
et-xmlfile==1.1.0
fsspec==2021.11.1
future==0.18.2
geographiclib==1.50
geopy==2.2.0
googlemaps==4.5.3
gunicorn==20.1.0
h11==0.12.0
HeapDict==1.0.1
hiredis==2.0.0
html5lib==1.1
httptools==0.3.0
idna==3.3
iso8601==1.0.2
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
jsonfield==3.1.0
jsonpath==0.82
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.0
jsonschema==4.3.3
LivePopularTimes==1.3
locket==0.2.0
lxml==4.7.1
MarkupSafe==2.0.1
marshmallow==3.14.1
msal==1.16.0
msgpack==1.0.3
multidict==5.2.0
mypy==0.931
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.22.0
oauthlib==3.1.1
objectpath==0.6.1
Office365-REST-Python-Client==2.3.9
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
pandas==1.3.0
parso==0.8.2
partd==1.2.0
patool==1.12
pbr==5.6.0
pdfkit==0.6.1
pgmpy==0.1.15
PGPy==0.5.4
Pillow==8.3.1
ply==3.11
psutil==5.8.0
psycopg2-binary==2.9.1
pyasn1==0.4.8
pycares==4.0.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pydantic==1.8.2
Pygments==2.9.0
PyJWT==2.1.0
pylibmc==1.6.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
Pyphen==0.11.0
pyrsistent==0.18.0
pyshorteners==1.0.1
python-dateutil==2.8.2
python-dotenv==0.18.0
python-magic==0.4.24
python-mimeparse==1.6.0
python-telegram-bot==13.7
pytool==3.16.1
pytz==2021.1
pyunpack==0.2.2
PyYAML==5.4.1
redis==3.5.3
regex==2021.7.6
Represent==1.6.0.post0
requests==2.26.0
requests-oauthlib==1.3.0
rethinkdb==2.4.8
rncryptor==3.3.0
s3transfer==0.4.2
scipy==1.7.0
simplejson==3.17.3
six==1.16.0
sockjs==0.11.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.21
sqlalchemy-aio==0.16.0
sqlparse==0.4.1
tabulate==0.8.9
tblib==1.7.0
telegram==0.0.1
tinycss2==1.1.0
toolz==0.11.1
tornado==6.1
tqdm==4.61.2
twilio==6.62.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
tzlocal==2.1
ua-parser==0.10.0
ujson==4.0.2
urllib3==1.26.6
user-agents==2.2.0
uvloop==0.15.3
valideer==0.4.2
validictory==1.1.2
vine==5.0.0
warp-proxy==0.1.1
watchgod==0.6
WeasyPrint==52.5
webargs==8.0.0
webencodings==0.5.1
websockets==9.1
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.4.4
xlwt==1.3.0
yarl==1.6.3
zict==2.0.0

